/* Copyright (C) 2010-2022 Free Software Foundation, Inc.

This file is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This file is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details. */

/* Begin of reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of reset */

body {
  font-family: "Fira Sans", sans-serif;
  line-height: 1.5em;
  font-size: 1.2em;
  color: #333;
}

html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 90px; /* .push must be the same height as .footer */
}

h1 {
  font-size: 2.5em;
  margin: 0.4em;
}

h2 {
  font-size: 2em;
  margin: 1.2em 0px;
}

h3 {
  font-size: 1.5em;
  margin: 1.2em 0px;
}

a {
  color: #c73a6c;
  text-decoration: none;
}

a:hover {
  color: #973066;
  text-decoration: underline;
}

tt, code {
  font-family: "Fira Mono", monospace;
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(187, 187, 187);
  padding: 0px 6px;
  border-radius: 4px;
  white-space: nowrap;
}

pre {
  font-family: "Fira Mono", monospace;
  font-size: 14px;
  background: #fafafa;
  padding: 1em;
  border: 1px solid #dadada;
  overflow-y: auto;
}

pre .kw {
  font-weight: bold;
  color: #4f0f71;
}

p {
  margin-bottom: 2em;
}

p.centered {
  text-align: center;
  margin: 3em 0;
}

dl {
  margin: 30px 0;
  font-size: .8em;
}

dt {
  font-weight: bold;
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

dd {
  /* We should reduce vertical space use in the "header".
     Yuan Fu <casouri@gmail.com> suggested to do that simply by
     commenting this out:
     margin-bottom: 10px; */
  width: 460px;
  display: inline-block;
}

.button {
  border: 2px solid;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

.container {
  padding: 20px;
  width: 960px;
  margin: 0 auto;
}

.header {
  color: white;
  text-align: center;
  background-color: #bb3955;
  background:  #bb3955 linear-gradient(135deg, #c73a6c, #bb3955, #973066) repeat scroll 0% 0%;
  border-bottom: 6px solid #691240;
}

.header p {
  margin: 0;
}

.header a {
  color: rgb(240, 255, 135);
  text-decoration: none;
}

.header a:hover {
  color: rgb(240, 255, 135);
  text-decoration: underline;
  background: transparent;
}

.header.small {
  text-align: left;
  border-width: 3px;
}

.header.small h1 {
  display: inline;
  font-size: 1.5em;
  margin: 0;
  background: url(images/elpa-small.png) center left no-repeat;
  padding: 10px;
  padding-left: 120px;
}

.header.small .container {
  padding: 20px;
}

input[type="search"] {
  border: 3px solid #ddd;
  padding: 10px;
  width: 100%;
  font-size: 1.1em;
  background: #fcfcfc;
}

input[type="search"]:focus {
  border-color: #bbb;
  background: #fafafa;
}

input[type="search"][placeholder] {
  color: #666;
}

.filter-table .quick { margin-left: 0.5em; font-size: 0.8em; text-decoration: none; }
.fitler-table .quick:hover { text-decoration: underline; }
td.alt { background-color: #ffc; background-color: rgba(255, 255, 0, 0.2); }

td, th {
  padding: 6px;
}

th {
  text-align: left;
  border-bottom: 2px solid #ddd;
  background: #fafafa;
  font-weight: bold;
}

td {
  border-bottom: 1px solid #ddd;
}

.footer {
  border-top: 1px solid #999;
  text-align:center;
  font-size: 0.9em;
  background-color: #eee;
  color: #666;
}

.footer .container {
  padding: 15px 0;
}

.footer p {
  margin: 0;
  font-size: .8em;
  padding: 0;
  line-height: 1.4em;
}

@media screen and (max-width: 999px) {
  .container {
    width: 600px;
  }
}

@media screen and (max-width: 639px) {
  body {
    font-size: 1em;
  }

  table {
    width: 100%;
  }
  
  .container {
    width: 90%;
    padding: 40px 5%;
  }

  h1 {
    font-size: 1.4em;
  }

  .header img {
    width: 300px;
  }

  td:last-child, th:last-child {
    display: none;
  }

  dd {
    width: 100%;
  }
}

@media screen and (max-width: 439px) {

  .header img {
    width: 250px;
  }
  
  h1 {
    font-size: 1.2em;
  }
}

ul {
  list-style-type: circle;
  margin-left: 1.2em;
}

li {
  margin-bottom: 0.25em;
}
